/* Custom Bootstrap Css */

header .header-top .header-top-menu li {
    padding: 5px 15px;
}

header .header-top .header-top-menu li a {
    color: #303030;
    font-size: 14px;
    display: inline-block;
}

/* header */
header {
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    z-index: 999;
    background-color: #ffffff;
    position: relative;
}

header .logo {
    display: inline-block;
    padding-top: 7px;
}

header .navbar-nav {
    justify-content: space-between;
}

header .navbar-nav .nav-link {
    padding: 15px 15px;
    margin: 0;
    font-size: 16px;
    color: #303030;
    position: relative;
}

header .nav-item.dropdown {
    /* padding-right: 25px; */
    /* background: url("../assets/images/icons/down-arrow.svg") no-repeat center
      right; */
    position: static;
}

header .nav-item.dropdown:hover,
header .nav-item.dropdown.active {
    /* background: url("../assets/images/icons/down-arrow-orange.svg") no-repeat
      center right; */
}

header .nav-item .nav-link.home-link {
    font-size: 16px;
}

header .nav-item .nav-link:hover,
header .nav-item.active .nav-link {
    color: #e37f43;
    font-weight: bold;
}

header .nav-item .nav-link:hover::after,
header .nav-item.active .nav-link::after {
    width: 100%;
    height: 4px;
    background: #e37f43;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

header .nav-item.dropdown .submenu {
    position: absolute;
    left: 50%;
    background-color: #ffffff;
    width: 100%;
    top: -100px;
    transform: translateX(-50%);
    padding: 15px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    z-index: -1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    transition: all 300ms ease-in-out;
    opacity: 0;
    visibility: hidden;
}

header .nav-item.dropdown:hover .submenu {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

header .nav-item.dropdown .submenu {
    font-size: 14px;
}

header .nav-item.dropdown .submenu.resources-submenu {
    padding: 15px 75px;
}

header .nav-item.dropdown .submenu.resources-submenu .resource-menu-box {
    max-width: 160px;
    margin: 0 auto;
}

header .nav-item.dropdown .submenu.resources-submenu .resource-menu-box .icon {
    min-height: 150px;
    border-radius: 4px;
    max-width: 150px;
}

header .nav-item.dropdown .submenu.resources-submenu .resource-menu-box .icon .img-hover {
    display: none;
}

header .nav-item.dropdown .submenu.resources-submenu .resource-menu-box:hover .icon img {
    display: none;
}

header .nav-item.dropdown .submenu.resources-submenu .resource-menu-box:hover .icon .img-hover {
    display: inline-block;
}

header .nav-item.dropdown .submenu.resources-submenu .resource-menu-box:hover h4 {
    color: #e37f43;
}

header .nav-item.dropdown .submenu.markets-submenu {
    display: flex;
}

header .nav-item.dropdown .submenu.markets-submenu .nav {
    flex: 0 0 33%;
    max-width: 33%;
}

header .nav-item.dropdown .submenu.markets-submenu .nav .nav-link {
    font-size: 14px;
    color: #707070;
    padding: 10px;
}

header .nav-item.dropdown .submenu.markets-submenu .nav .nav-link .icon {
    flex: 0 0 42px;
    height: 42px;
    display: flex;
    align-items: center;
    padding: 3px;
    margin-right: 12px;
}

header .nav-item.dropdown .submenu.markets-submenu .nav .nav-link.active,
header .nav-item.dropdown .submenu.markets-submenu .nav .nav-link:hover {
    background-color: transparent;
    font-weight: normal;
    color: #e37f43;
}

header .nav-item.dropdown .submenu.markets-submenu .nav .nav-link.active:after,
header .nav-item.dropdown .submenu.markets-submenu .nav .nav-link:hover:after {
    content: none;
}

header .nav-item.dropdown .submenu.markets-submenu .custom-tab-content h3 {
    margin-bottom: 16px;
}

header .nav-item.dropdown .submenu.markets-submenu .custom-tab-content {
    line-height: 24px;
    color: #707070;
}

header .nav-item.dropdown .submenu.markets-submenu .custom-tab-content .quick-info .icon {
    flex: 0 0 20%;
    max-width: 20%;
    margin-right: 10px;
}





.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
}

.rounded-checkbox.custom-control {
    padding-left: 30px;
}

.rounded-checkbox.custom-control .custom-control-label {
    font-size: 14px;
}

.rounded-checkbox.custom-radio .custom-control-label::before {
    border-radius: 50%;
    height: 16px;
    width: 16px;
    border: 1px solid #d1d1d1;
    background-color: #ffffff;
    top: -1px;
    box-shadow: none;
}

.rounded-checkbox.custom-radio .custom-control-input {
    height: 16px;
    width: 16px;
}

.rounded-checkbox.custom-radio.big .custom-control-input,
.rounded-checkbox.custom-radio.big .custom-control-label::before,
.rounded-checkbox.custom-radio.big .custom-control-label::after {
    height: 20px;
    width: 20px;
    top: -4px;
}

.rounded-checkbox.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #e37f43;
    border-color: #e37f43;
}

.rounded-checkbox.custom-radio .custom-control-label::after {
    width: 16px;
    height: 16px;
    left: -24px;
    top: -1px;
}

/**** Media Query CSS Start ****/

@media only screen and (max-width: 1360px) {
    header .navbar-nav .nav-link {
        font-size: 14px;
        line-height: 24px;
        padding: 8px 15px;
    }

}

@media only screen and (max-width: 991px) {
    .primary-menu-mobile {
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: rgba(48, 48, 48, 0.7);
        transition: all 300ms ease-in-out;

    }

    .primary-menu-mobile.active {
        left: 0;
    }

    .primary-menu-mobile .inner {
        max-width: 300px;
        overflow-y: auto;
        padding: 10px 20px;
    }

    .primary-menu-mobile .primary-menu li a {
        display: block;
        padding: 10px 0;
        font-size: 14px;
        color: #303030;
    }

    .primary-menu-mobile .primary-menu>li+li {
        border-top: 1px solid #D8D8D8;
    }

    .primary-menu-mobile .primary-menu li a .menu-icon .active-icon {
        display: none;
    }

    .primary-menu-mobile .primary-menu li a:hover .menu-icon img,
    .primary-menu-mobile .primary-menu li a.active .menu-icon img {
        display: none;
    }

    .primary-menu-mobile .primary-menu li a:hover .menu-icon .active-icon,
    .primary-menu-mobile .primary-menu li a.active .menu-icon .active-icon {
        display: inline-block;
    }

    .primary-menu-mobile .primary-menu li.has-submenu .sub-menu {
        display: none;
    }

    .primary-menu-mobile .primary-menu li.has-submenu .sub-menu a {
        display: flex;
        padding: 5px 16px;
    }

    .primary-menu-mobile .primary-menu li a:hover {
        color: #e37f43;
    }

    .primary-menu-mobile .primary-menu li.has-submenu .sub-menu a .icon {
        flex: 0 0 25px;
        height: 25px;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px;
        margin-right: 10px;
    }

    .primary-menu-mobile .primary-menu li.has-submenu .sub-menu a .icon img {
        max-width: 20px;
    }

    .primary-menu-mobile .primary-menu li.has-submenu .sub-menu li+li {
        border-top: 1px solid #d8d8d8;
    }

    .primary-menu-mobile .mobile-social-icons li {
        margin-left: 16px;
        padding: 10px 0;
    }

    .primary-menu-mobile .mobile-social-icons li a {
        transition: all 200ms ease-in;
    }

    .primary-menu-mobile .mobile-social-icons li a:hover {
        transform: scale(1.2) translateY(-5px);
    }

    .primary-menu-mobile .primary-menu .has-submenu a.active {
        color: #e37f43;
    }

    .primary-menu-mobile .primary-menu .has-submenu a.active .arrow-icon {
        transform: rotate(-180deg);
    }
}

/* mobile screens  */
@media only screen and (max-width: 767px) {}