@media (max-width: 991px) {

    .product-category-section .product-filters {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        background-color: #fefaf0;
        padding: 20px;
        height: 100%;
        z-index: 999;
        overflow-y: auto;
    }

    .product-category-section .product-filters.active {
        left: 0;
    }
}

@media (max-width: 767px) {

    .cart-table .product-img,
    .cart-table .product-img img {
        height: 40px;
        width: 40px;
    }

    .table>:not(caption)>*>* {
        padding: 10px 5px;
    }

    .cart-table td {
        padding: 10px 5px;
    }

    .products-section .product-box .product-img {
        margin-bottom: 15px;
        max-height: 18px;
        min-height: 180px;

    }

    .products-section .row {
        margin: 0 -5px;

    }

    .products-section .row [class*="col-"] {
        padding: 0 5px;
    }
    .contact-form-section .container{
        padding: 15px;
        
    }
    .contact-form-section .container .form-wrapper {
        padding: 25px;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;

    }
}